.wrapper {
  display: grid;
  grid-template-areas:
    "photoWrapper infoWrapper";
  grid-template-columns: auto 4fr 7fr;
  padding: 6px;
}

.photoWrapper {
  grid-area: photoWrapper;
  display: grid;
  grid-template-areas:
    "userPhoto"
    "action";
  grid-template-rows: 3fr auto;
}

.infoWrapper {
  grid-area: infoWrapper;
  display: grid;
  grid-template-areas:
    "userName"
    "text"
    "likes";
  grid-template-rows: 1fr 1fr 1fr;
  padding: 6px;
  border: gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  margin: 0px 15px;
}

.userPhoto {
  grid-area: userPhoto;
  margin: auto;
}

.userPhoto img {
  max-width: 80px;
  max-height: 80px;
  border-radius: 15px;
}

.action {
  grid-area: action;
  text-align: center;
}

.userName {
  grid-area: userName;
  margin-left: 6px;
  margin-top: auto;
  font-size: large;
}

.text {
  grid-area: text;
  margin-left: 6px;
  margin-bottom: auto;
  font-size: small;
}

.likes {
  grid-area: likes;
  margin-left: 6px;
  margin-bottom: auto;
  font-size: small;
  color: gray;
}