.wrapper {
  display: grid;
  grid-template-areas:
    "photoWrapper infoWrapper";
  grid-template-columns: 1fr 4fr 7fr;
  padding: 6px;
}

.photoWrapper {
  grid-area: photoWrapper;
  display: grid;
  grid-template-areas:
    "photo"
    "action";
  grid-template-rows: 3fr auto;
  padding: 6px 15px;
}

.infoWrapper {
  grid-area: infoWrapper;
  display: grid;
  grid-template-areas:
    "name location"
    "status location";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  padding: 6px;
  border: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}

.photo {
  grid-area: photo;
  margin: auto;
}

.photo img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}

.action {
  grid-area: action;
  text-align: center;
}

.name {
  grid-area: name;
  margin-left: 6px;
  margin-top: auto;
  font-size: large;
}

.status {
  grid-area: status;
  margin-left: 6px;
  margin-bottom: 0;
  font-size: small;
  color: gray;
}

.location {
  grid-area: location;
  text-align: right;
  margin: auto;
}