.wrapper {
  display: grid;
  grid-template-areas:
    "dialogs messages";
  grid-template-columns: 2fr 10fr;
  grid-gap: 15px;
  padding: 15px;
}

.dialogs {
  grid-area: dialogs;
}

.messages {
  grid-area: messages;
}

.newMessage {
  padding: 15px 0px;
}